make/new_products_blueprint_v2.json
{
  "name": "Mahwous - إضافة منتجات جديدة لسلة (v2 مع صورة + ماركة + تصنيف)",
  "flow": [
    {
      "id": 1,
      "module": "gateway:CustomWebHook",
      "version": 1,
      "parameters": { "hook": 3871450, "maxResults": 1 },
      "mapper": {},
      "metadata": {
        "designer": { "x": 0, "y": 0 },
        "parameters": [
          { "name": "hook", "type": "hook:gateway-webhook", "label": "Webhook", "required": true },
          { "name": "maxResults", "type": "number", "label": "Maximum number of results" }
        ],
        "interface": [
          {
            "name": "data",
            "type": "array",
            "spec": {
              "type": "collection",
              "spec": [
                { "name": "product_id", "type": "text" },
                { "name": "أسم المنتج", "type": "text" },
                { "name": "سعر المنتج", "type": "number" },
                { "name": "رمز المنتج sku", "type": "text" },
                { "name": "الوزن", "type": "number" },
                { "name": "سعر التكلفة", "type": "number" },
                { "name": "السعر المخفض", "type": "number" },
                { "name": "الوصف", "type": "text" },
                { "name": "صورة المنتج", "type": "text" },
                { "name": "brand_id", "type": "number" },
                { "name": "category_id", "type": "number" }
              ]
            }
          }
        ]
      }
    },
    {
      "id": 2,
      "module": "builtin:BasicFeeder",
      "version": 1,
      "parameters": {},
      "mapper": { "array": "{{1.data}}" },
      "metadata": { "designer": { "x": 300, "y": 0 } }
    },
    {
      "id": 3,
      "module": "salla:CreateProduct",
      "version": 1,
      "parameters": { "__IMTCONN__": 13701959 },
      "mapper": {
        "sku": "{{2.`رمز المنتج sku`}}",
        "name": "{{2.`أسم المنتج`}}",
        "price": "{{2.`سعر المنتج`}}",
        "weight": "{{2.`الوزن`}}",
        "quantity": "100",
        "cost_price": "{{2.`سعر التكلفة`}}",
        "sale_price": "{{2.`السعر المخفض`}}",
        "description": "{{2.`الوصف`}}",
        "product_type": "product",
        "require_shipping": true,
        "brand_id": "{{2.brand_id}}",
        "categories": [ "{{2.category_id}}" ],
        "images": [ { "original": "{{2.`صورة المنتج`}}" } ]
      },
      "metadata": {
        "designer": { "x": 600, "y": 0 },
        "parameters": [
          { "name": "__IMTCONN__", "type": "account:salla2,salla", "label": "Connection", "required": true }
        ]
      }
    }
  ],
  "metadata": {
    "instant": false,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "sequential": false,
      "slots": null,
      "confidential": false,
      "dataloss": false,
      "dlq": false
    },
    "designer": { "orphans": [] },
    "zone": "eu2.make.com",
    "notes": []
  }
}
